@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f1f4f9;
}

h1, h2, h3, .font-display {
  font-family: "Space Grotesk", sans-serif;
}

.font-mono, .risk-score {
  font-family: "JetBrains Mono", monospace;
}